In [26]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
current_direction = os.getcwd()
current_direction

'/Users/xiaoyulu/BookRecommendation'

In [28]:
books =pd.read_csv('/Users/xiaoyulu/BookRecommendation/books_data.csv')

In [29]:
books.head()

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN

In [31]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212403 non-null  object
 1   description    143962 non-null  object
 2   authors        180991 non-null  object
 3   image          160329 non-null  object
 4   previewLink    188568 non-null  object
 5   publisher      136518 non-null  object
 6   publishedDate  187099 non-null  object
 7   infoLink       188568 non-null  object
 8   categories     171205 non-null  object
 9   ratingsCount   49752 non-null   float64
dtypes: float64(1), object(9)
memory usage: 16.2+ MB

In [32]:
missing_values = books.isnull().sum()
print(missing_values[missing_values>0])

Title                 1
description       68442
authors           31413
image             52075
previewLink       23836
publisher         75886
publishedDate     25305
infoLink          23836
categories        41199
ratingsCount     162652
dtype: int64

In [33]:
books.drop(['ratingsCount'],axis=1,inplace=True)

In [34]:
books.dropna(inplace=True)

In [40]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118018 entries, 1 to 212402
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          118018 non-null  object
 1   description    118018 non-null  object
 2   authors        118018 non-null  object
 3   image          118018 non-null  object
 4   previewLink    118018 non-null  object
 5   publisher      118018 non-null  object
 6   publishedDate  118018 non-null  object
 7   infoLink       118018 non-null  object
 8   categories     118018 non-null  object
dtypes: object(9)
memory usage: 9.0+ MB

In [41]:
import re
from sklearn.feature_extraction.text import TfidfVectorizer

In [42]:
def clean_text(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)  # Remove punctuation
    return text

In [43]:
books['cleaned_description'] = books['description'].apply(clean_text)
books['cleaned_authors'] =books['authors'].apply(clean_text)
books['cleaned_categories'] = books['categories'].apply(clean_text)

In [44]:
books['combined_features'] = (
    books['cleaned_description'] + ' ' +
    books['cleaned_authors'] + ' ' +
    books['cleaned_categories']
)

In [45]:
# Create TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(combine_df['combined_features'])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute cosine similarity matrix
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [ ]:
print("Available Title:", books['User_id'].unique())

In [ ]:
def recommend(book_title, num_recommendations=5):
    # Get the index of the book
    idx = df.index[df['Title'] == book_title].tolist()[0]
    
    # Get similarity scores for the book
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort the books based on similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the indices of the most similar books
    sim_indices = [i[0] for i in sim_scores[1:num_recommendations + 1]]
    
    return df['Title'].iloc[sim_indices].tolist()

# Example usage
print(recommend("Harry Potter"))  # Replace with an actual title from your dataset